#website-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

#login-container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    background: rgba(225, 225, 225, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    
    border: 2px solid white;
    height: 25vw;
    min-height: 300px;
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: stretch;
    border: 2px solid white;
    border-radius: 10px;

}
#login-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    backdrop-filter: blur(10px);
}

#login-graphic{
   
    width: 40%;
    height:auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    background-image: url(Coins.jpeg);
    background-size: cover;
    background-position: center;
}

#login-items-container {
    
    width: 60%;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

#login-header {
    
    position: absolute;
    text-align: center;
    padding-top: 0vh;
    margin-top: 0px;
    top: 5px;
    width: 100%;
}   

#Welcome {
    
    text-align: left;
    padding-bottom: 0vh;
    margin-bottom: 0px;
    margin-top: 3px;
    
}

#Please-log-in {
    
    text-align: left;
    padding-top: 0vh;
    margin-top: 0px;
   
}

#username-container {
    position: absolute;
    top: 90px;
    left: 50px;
    width: 80%;
    
    height: 50px;
}

#password-container {
    position: absolute;
    top: 160px;
    left: 50px;
    width: 80%;
    
    height: auto;
}

#username {
    
    position: relative;
    text-align: left;
    padding-top: 0vh;
    margin: 0px;
   
    
}
#password {
    
    position: relative;
    text-align: left;
    padding-top: 0vh;
    margin: 0px;
}


.text-inputs {
    height: 100%;
    border: 0px; 
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: rgba(225, 225, 225, 0);
}

#box{
    display: flex;
    align-items: center;
}

#box input:hover {
    outline: none;
    transition: border-bottom-color 0.3s ease-in-out;
    border-bottom: 2px solid white;
}

#box input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#box input:focus {
    outline: none;
    border: 2px solid white;
    transition: border-bottom 2s ease-in-out;
}
